{% extends 'base.html.twig' %}

{% block title %}New CentreGestInt{% endblock %}

{% block body %}
    <h1>Create new CentreGestInt</h1>

    {{ include('centre_gest_int/_form.html.twig') }}

    <a href="{{ path('centre_gest_int_index') }}">back to list</a>
{% endblock %}
