{% extends 'base.html.twig' %}

{% block title %}New CGI{% endblock %}

{% block body %}
    <h1>Create new Centre de Gestion des Intrant</h1>

    {{ include('centre_gest_int/_form.html.twig') }}

    <a href="{{ path('centre_gest_int_index') }}">back to list</a>
{% endblock %}
