{% extends 'base.html.twig' %}

{% block title %}Edit BordereauLiv{% endblock %}

{% block body %}
    <h1>Edit BordereauLiv</h1>

    {{ include('bordereau_liv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bordereau_liv_index') }}">back to list</a>

    {{ include('bordereau_liv/_delete_form.html.twig') }}
{% endblock %}
