{% extends 'base.html.twig' %}

{% block title %}New BordereauLiv{% endblock %}

{% block body %}
    <h1>Create new BordereauLiv</h1>

    {{ include('bordereau_liv/_form.html.twig') }}

    <a href="{{ path('bordereau_liv_index') }}">back to list</a>
{% endblock %}
